/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700');
@font-face {
  font-family: 'Bebas Neue';
  src: url('fonts/BebasNeue.otf');
}

/*useful classes for font-awesome icons
   fa fa-github
   fa fa-twitter
   fa fa-linkedin
   fa fa-link
   fa fa-calculator
   fa fa-quote-left
   fa fa-quote-right
*/

/* Colours */

/* use B&W colour scheme using grayscale*/
/* add 1 characteristic colour --> tangerine*/

.color-highlight {
  background-color: rgb(255, 68, 21);
}

body {
  background-color: rgb(245, 245, 245);
}

section, footer {
  background-color: #ffffff;
}

/* Base */

html {
    font-size: 16px;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Bebas Neue';
    font-size: 15px;
}

ul {
  list-style-type: none;
  margin: 0;
}

li {
  display: inline;
}


/* Helpers */

.center {
  margin: 0 auto;
  text-align: center;
}

.nav-space {
  padding-top: 50px;
}

.top-fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
}

/* Modules */

.banner {
  background: linear-gradient(
    rgba(20, 20, 20, 0.5),
    rgba(20, 20, 20, 0.5)),
    url("../images/banner_image2.jpg");
  background-size: cover;
  min-width: 100wh;
  color: white;
}

.banner_heading {
  font-size: 4rem;
}

.btn {
  border: none;
  color: white;
  padding: .5em;
  cursor: pointer;
}


/*
  NAV MENU (mobile)
*/

.nav {
  height: 50px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  text-align: center;
}

.nav__item {display: none;}

/* style mobile links & hamburger */
.nav__link,
.nav__hamburger {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  background-color: #333;
  font-size: 17px;
}

/* positions hamburger to right */
.nav__icon {
    float: right;
}


/* when hamburger is clicked,
  'responsive' class is added to nav container,
   allowing the following styles...
*/

/* positions hamburger in top right */
.nav.responsive .nav__hamburger {
  position: absolute;
  right: 0;
  top: 0;
}

/* allows nav links to stack */
.nav.responsive .nav__item,
.nav.responsive .nav__link {
  display: block;
}



/* Grid */

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.height-full {
  min-height: 100vh; /* Use padding to make room for nav, see mobile preview in dev-tools */
}

.height-half {
  min-height: 50%;
}

[class*='height-'] {
  border: 1px solid black;
  width: 100%;
}

[class*='col-'] {
  width: 100%;
  padding: 10px;
}



/* Media Queries */

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0;
  }

  .banner {
    margin-top: 50px;
  }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%;
  }

  .col-1 {
    width: 5%;
  }
  .col-3 {
    width: 22%;
  }
  .col-6 {
    width: 48%;
  }
  .col-12 {
    width: 100%;
  }
}

/* For devices larger than 680px */
@media screen and (min-width:680px) {

  /*
    Nav (desktop)
  */

  .nav {
    height: 70px;
    padding: 12px; /* centers items */
  }

  /* Hide nav icon */
  .nav__icon {
    display: none;
  }

  /* Postion elements side by side */
  .nav__item,
  .nav.responsive .nav__item {
    display: inline-block;
  }

  /* Sets button width */
  .nav__link {
    width: 100px;
  }

  /* Nav hover colour */
  .nav__link:hover {
    background-color: #555;
  }

}

