/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700');
@font-face {
  font-family: 'Bebas Neue';
  src: url('fonts/BebasNeue.otf');
}

/*useful classes for font-awesome icons
   fa fa-github
   fa fa-twitter
   fa fa-linkedin
   fa fa-link
   fa fa-calculator
   fa fa-quote-left
   fa fa-quote-right
*/

/* Colours */

/* use B&W colour scheme using grayscale*/
/* add 1 characteristic colour --> tangerine*/

.color-highlight {
  background-color: rgb(255, 68, 21);
}

body {
  background-color: rgb(245, 245, 245);
}

section, footer {
  background-color: #ffffff;
}

/* Base */

html {
    font-size: 16px;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Bebas Neue';
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}


/* Helpers */

.center {
  margin: 0 auto;
  text-align: center;
}

.nav-space {
  padding-top: 50px;
}

.top-fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
}

/* Modules */

.banner {
  background: linear-gradient(
    rgba(20, 20, 20, 0.5),
    rgba(20, 20, 20, 0.5)),
    url("../images/banner_image2.jpg");
  background-size: cover;
  min-width: 100wh;
  color: white;
  /*position: relative;*/
}

.banner_heading {
  font-size: 4rem;
}

#banner_avatars {
  padding: 0;
}

.banner_avatar {
  border-radius: 100%;
  width: 25%;
}

.btn {
  border: none;
  color: white;
  padding: .5em;
  cursor: pointer;
}


/*
  NAV MENU (mobile)
*/

.nav {
  height: 50px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  text-align: center;
}

.nav__item {display: none;}

/* style mobile links & hamburger */
.nav__link,
.nav__hamburger {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  background-color: #333;
  font-size: 17px;
}

/* positions hamburger to right */
.nav__icon {
    float: right;
}


/* when hamburger is clicked,
  'responsive' class is added to nav container,
   allowing the following styles...
*/

/* positions hamburger in top right */
.nav.responsive .nav__hamburger {
  position: absolute;
  right: 0;
  top: 0;
}

/* allows nav links to stack */
.nav.responsive .nav__item,
.nav.responsive .nav__link {
  display: block;
}

/*Portfolio article styles from here */
article {
  width: 100%;
  position:relative;
  overflow:auto;
  margin-bottom: 20px;
  border-bottom: 2px solid black;
}

.article__widget {
  float:left;
  text-align: left;
  font-family: 'Lato', sans-serif;
}

.article__pic {
  float:left;
  border-radius: 5px;
}

li.project__links {
  display: block;
}

img {
    max-width:100%;
    border-radius: 5px;
}

.article__social-media {

}

.li--social {
  padding-right:5px;
  color:rgb(255, 68, 21);
}

.article__widget__heading {
  margin-top: -1px;
}

.article__text {

}

.article__projects {
  float: right;
  border-left: 1px solid #666;
}

.article__projects__heading {
  margin-top:0px;
  padding-left: 10px;
}

.project__links {
  line-height:1.6em;
  padding-left: 10px;
}


/* Contact */

#contact {
  background: rgb(255, 68, 21);
}

form {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  font-size: 16px;
}

.form-row {
  width: 100%;
  margin: 20px auto;
}

fieldset {
  border: 4px solid white;
  border-radius: 5px;
}

legend {
  padding: 10px;
  font-family: 'Bebas Neue';
  color: white;
  font-size: 25px;
}

label {
  display: inline-block;
  font-family: 'Bebas Neue';
  color: white;
  width: 19%;
}

input[type="text"], input[type="email"] {
  width: 79%;
  display: inline-block;
  margin: 0;
  padding: 3px 10px;
  border-radius: 5px;
}

textarea {
  display: block;
  width: 100%;
  resize: none;
  height: 100px;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 0;
}

input[type="submit"] {
  margin-bottom: 10px;
  width: 100px;
  font-family: 'Bebas Neue';
  font-size: 20px;
  border-radius: 5px;
}



/* Grid */

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.height-full {
  min-height: 100vh; /* Use padding to make room for nav, see mobile preview in dev-tools */
}

.height-half {
  min-height: 50%;
  min-height: calc(50vh - 50px);
}

[class*='height-'] {
  width: 100%;
}

[class*='col-'] {
  width: 100%;
  padding: 10px;
}

/*Small columns for mobile view*/

.col-3-sm {
  width: 25%;
}

/* Media Queries */

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0;
  }

  .banner {
    margin-top: 50px;
  }
}


/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%;
  }

  .col-1 {
    width: 6.67%%;
  }
  .col-3 {
    width: 25%;
  }
  .col-6 {
    width: 50%;
  }
  .col-12 {
    width: 100%;
  }
}

/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (min-width:680px) {

  .nav {
    height: 70px;
    padding: 12px;
  }

  /* Hide nav icon */
  .nav__icon {
    display: none;
  }

  /* Postion elements side by side */
  .nav__item,
  .nav.responsive .nav__item {
    display: inline-block;
  }

  /* Sets button width */
  .nav__link {
    width: 100px;
  }

  /* Nav hover colour */
  .nav__link:hover {
    background-color: #555;
  }


  /*
  Form (Desktop)
  */

  .form-row {
    width: 75%;
  }

  label {
    font-size: 20px;
  }

  label,form input, form textarea {
    padding: 10px;
  }

  legend {
    font-size: 40px;
  }

  input[type="submit"] {
    font-size: 25px;
    width: 120px;
  }

}


  /* Helpers */

  .nav-space {
    padding-top: 100px;
  }



/* For devices smaller than 680px */
@media (max-width: 680px) {
  [class*='col-'] {
    width: 100%;
    padding: 10px;
  }
  .article__projects {
    border-left: none;
  }
  img {
      max-width:60%;
  }

}
