/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700');
@font-face {
  font-family: 'Bebas Neue';
  src: url('fonts/BebasNeue.otf');
}

/*to be added to the HTML file*/
/*<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">*/

/* use B&W colour scheme using grayscale*/
/* add 1 characteristic colour --> tangerine*/
.color-highlight {
  rgb(255,68,21);
}

/*useful classes for font-awesome icons
   fa fa-github
   fa fa-twitter
   fa fa-linkedin
   fa fa-link
   fa fa-calculator
   fa fa-quote-left
   fa fa-quote-right
*/

* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Bebas Neue';
}

ul {
  list-style-type: none;
  margin: 0;
}

li {
  background-color: blue;
  display: inline;
}

nav {
  /* TODO - fix navbar to give it a minimum height */
  height: 10vh;
  background-color: yellow;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
}
/* Grid */

.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.row-full {
  min-height: 90vh;
}

.row-half {
  min-height: 50%;
}

[class*='row-'] {
  border: 1px solid black;
  width: 100%;
}

[class*='col-'] {
  width: 100%;
  padding: 10px;
}

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0;
    padding-top: 10vh;
  }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%;
  }

  .col-1 {
    width: 5%;
  }
  .col-3 {
    width: 22%;
  }
  .col-6 {
    width: 48%;
  }
  .col-12 {
    width: 100%;
  }
}
